Hello word!

In [ ]:
print('Hello Uesr!') #komentar

Hello Uesr!

In [ ]:
#Check the Python Version
import sys
print('sys.version')

sys.version

In [ ]:
#practice on writing comment

print('hello, python!') #This line prints a string
print('Hi') #hanya untuk sting "Hi"

hello, python!
Hi

In [ ]:
#Print string error (typo)
frint("Hello, ahmada")

NameError: name 'frint' is not defined

In [ ]:
#dalam kasus di atas kita typo terhadap perintah Print
#dan di dalam kurung kita harus memkai satu petik ''

In [ ]:
#Try to see build in error massage
print("Hello, python!)

SyntaxError: unterminated string literal (detected at line 2) (<ipython-input-13-a1d27262d6e0>, line 2)

In [ ]:
#kita juga harus memperhatikan setelah petik harus di tutup dengan petik juga
# print("Hello, Python")

In [ ]:
#Print string and error to seea the running order

print("This will be printed")
orint("This will cause an error")
print("This will Not be printrd")

This will be printed

NameError: name 'orint' is not defined

In [ ]:
#dalam kasus di atas kita dapat melihat bahwa Pyhton dapat mencari kesalaha terhadap masalah di atas

# **Weekly Exercise** **1** (week1)

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [1]:
print('Nama         : Ahmada Nur Maulana Bafakih')
print()
print('NPM          : 2440506069')
print()
print('Alamat       : Jl. Sumba no 227 wates kota magelang')
print()
print('Tinggi Badan : 180')
print()
print('Berat Badan  : 56')

Nama         : Ahmada Nur Maulana Bafakih

NPM          : 2440506069

Alamat       : Jl. Sumba no 227 wates kota magelang

Tinggi Badan : 180

Berat Badan  : 56

In [ ]:
print('\033[1m''UNIVERSITAS TIDAR''\033[0m')
print('Universitas Tidar merupakan Perguruan Tinggi Pemerintah atau Perguruan Tinggi Negeri yang telah ditetapkan berdasarkan Peraturan Presiden Republik Indonesia Nomor 23 Tahun 2014 pada tanggal 1 April 2014.')

UNIVERSITAS TIDAR
Universitas Tidar merupakan Perguruan Tinggi Pemerintah atau Perguruan Tinggi Negeri yang telah ditetapkan berdasarkan Peraturan Presiden Republik Indonesia Nomor 23 Tahun 2014 pada tanggal 1 April 2014.

In [5]:
print('\033[1m''JURUSAN ELEKTRO, MEKATRONIK DAN INFORMASI''\033[0m')
print('Jurusan Tekin Elektro terdiri atas tiga program studi, antara lain :')
print('''
 1. S1 Teknik Elektro (\033[3mBachelor of Electrical Engineering\033[0m)
 2. S1 Teknologi Informasi (\033[3mBachelor of Information Technology\033[0m)
 3. S1 Teknik Mekatronika (\033[3mBachelor of Mecatronics Engineering\033[0m) ''')

JURUSAN ELEKTRO, MEKATRONIK DAN INFORMASI
Jurusan Tekin Elektro terdiri atas tiga program studi, antara lain :

 1. S1 Teknik Elektro (Bachelor of Electrical Engineering)
 2. S1 Teknologi Informasi (Bachelor of Information Technology)
 3. S1 Teknik Mekatronika (Bachelor of Mecatronics Engineering)

In [ ]:
# Integer
11

11

In [ ]:
#float
2.12

2.12

In [ ]:
#stirng

#print('hello, ptyhon 102!')
#print('hello, ptyhon 101!')

"hello, python 102!"
#"hello, python 101!"

'hello, python 102!'

In [ ]:
#pada contoh di atas kita dapat melihat Integer untuk bilangan bulat, Float untuk bilangan koma dan, String untuk kata

In [ ]:
# Type of 12

type(12)

int

In [ ]:
type(12.4)

float

In [ ]:
type("selamat datang di dunia python ahmada!")

str

In [ ]:
# jika memasukan bilanagan koma dengan 0 maka akan tetap di hitung float
type(14.0)

float

In [ ]:
#bilangan  min(-) juga termasuk Integer
type(-1)

int

In [ ]:
# setiap print dengan koma maka di hitung float
type(1.0)
type(0.5)

float

In [ ]:
#system setting tentang float type
import sys #sys ini digunakan untuk deklarasi  sebelum mengunakan hal tersebut
sys.float_info

sys.float_info(max=1.7976931348623157e+308, max_exp=1024, max_10_exp=308, min=2.2250738585072014e-308, min_exp=-1021, min_10_exp=-307, dig=15, mant_dig=53, epsilon=2.220446049250313e-16, radix=2, rounds=1)

In [ ]:
type(2)

#Converting dari Integer ke Float

float(2)

2.0

In [ ]:
#cara lain kita akan menkonvert dari integer ke float
type(float(2))

float

In [ ]:
#casting 1.1 ke integer akan mejadikan loss information

int(1.1)

1

In [ ]:
#convert  dari string ke integer atau float

int('1')

1

In [ ]:
#contoh convert dari string ke integer dengan error

int('1 atau 2 anjing')

ValueError: invalid literal for int() with base 10: '1 atau 2 anjing'

In [ ]:
#contoh di atas karna  pyhton tidak dapat mendeteksi isi dari pesan tersebut

Convert dari nomer ke Sting

In [ ]:
#contoh covert dari string ke float

float ('1.2')

1.2

In [ ]:
#contoh dari integer ke stirng

str(1)

'1'

In [ ]:
#contoh dari integer ke float

str(1.4)

'1.4'

Boolean data type

In [ ]:
# Value true

True

True

In [ ]:
"T"

'T'

In [ ]:
False

False

In [ ]:
"F"

'F'

saat kamu bertanya pada python untuk display type Boolean objek untuk melihatnya kamu perlu mengunakan perintah sebagai berikut

In [ ]:
#type of True

type(True)

bool

In [ ]:
#type of false

type(False)

bool

kita dapat menegcek boolean untuk semua data type. jika kia mengecek suatu boolean denagn value a True makan integer atau foalt akan mendapatkan nilai 1, jika kita mengecek boolean dengan value false untuk sebuah bilangan integar atau foalt maka akan berniali 0
jadi kesimpulannya jika kita mengecek 1 pada boolean maka akan bernilai true dan jika kita mengecek 0 pada boolean makan akan mendapatkan false = mari kita coba

In [ ]:
#Convert True ke int

int(True)

1

In [ ]:
#Convert 1 ke boolean

bool(1)

True

In [ ]:
#Convert 0 ke boolean

bool(0)

False

In [ ]:
float(0)

0.0

Contoh types

apa hasil data dari 6/2?

In [ ]:
type(6/2)

float

cara agar mengeluarkan hasil dengan duble slash(//)

In [ ]:
type(6//2)

int

jadi duble klick slash adalah solusinya (//)

# **Expression** dan **Variable**

Expression dalam python dapat memasukan operasi compaitible typs (e.g., integar dan folat) contoh seperti, basic arithmetic operations

In [ ]:
#addition operation expression
#43 + 60 + 16 + 41

type(10.55+10.5-5)

float

kita dapat membuat operasi dengan mengunakan minus operator

In [ ]:
type(50-60)

int

kita juga dapat mengoprasikan perkalian dengan mengunakan asterisk

In [ ]:
# Multiplication operation expression
5*25

125

kita juga dapat membagi bilangan dengan mengunakan slash (/)

In [ ]:
# Division operation expression
25/5

5.0

In [ ]:
# Division operation expression
24/7

3.4285714285714284

#  Expression

mari kita menulis ekspersi berapa banyak jam dalam 160 menit

In [ ]:
# ekspersi berapa banyak jam dalam 160 menit
160/60

2.6666666666666665

Pyhton mngikuti kovesi matematika dengan baik untuk mengekspresikannya

In [ ]:
# Mathematical expression

30 + 4 * 60 // 10

54

# **Variable**
sama seperti pembrogaman lain kita dapat menerima value terhadap variable

In [ ]:
from re import X
#stor value diantara variable

x = 21 + 32
x

53

total variable

In [ ]:
total_min = 43 + 54 + 21
total_min

118

# SOAL KE 1 (week 2)

In [ ]:
from typing import ParamSpec
Panjang = 20.5
Lebar = 25
Tinggi = 10
Keliling =2*(Panjang+Lebar)
luas = Panjang * Lebar
volume = Panjang * Lebar * Tinggi

print('panjang = 20,5')
print('lebar = 25')
print('Tinggi = 10')
Keliling =2*(Panjang+Lebar)
print('keliling = ',Keliling)
luas = Panjang * Lebar
print ('luas = ',luas)
volume = (Panjang * Lebar * Tinggi)
print ('volume =' ,volume)

panjang = 20,5
lebar = 25
Tinggi = 10
keliling =  91.0
luas =  512.5
volume = 5125.0

In [ ]:
nilai_shafira = (85 + 75) / 2
nilai_shafira

80.0

In [ ]:
jumlah_nilai_hanif_dan_andi = 70 + 75 + 75 + 90
jumlah_nilai_hanif_dan_andi

310

In [ ]:
rata_rata_kalkulus = (80 + 85 + 85 + 95) / 4
rata_rata_kalkulus

86.25

In [ ]:
rata_rata_statistika = (75 + 80 + 85 + 90) / 4
rata_rata_statistika

82.5

In [ ]:
rata_rata_nilai_kuliah_kalkulus = (70+75+75+80+80+85+85+85+95) / 9
rata_rata_nilai_kuliah_kalkulus

81.11111111111111

In [ ]:
rata_rata_nilai_kuliah_statistika = (75+90+80+80+85+90+75+85+75) / 9
rata_rata_nilai_kuliah_statistika

81.66666666666667

In [ ]:
print('1.Rata-Rata nilai Shafira =' ,nilai_shafira)
print('2.Jumlah nilai hanif dan andi =' ,jumlah_nilai_hanif_dan_andi)
print('3.Rata-Rata nilai kalkulus widya, Dhanar, Hikma dan Nedia =' ,rata_rata_kalkulus)
print('  Rata-Rata nilai statistika widya, Dhanar, Hikma dan Nedia =' ,rata_rata_statistika)
print('4.Rata-Rata nilai mata kuliah kalkulus =',rata_rata_nilai_kuliah_kalkulus)
print('5.Rata-Rata nilai mata kuliah statistika =',rata_rata_nilai_kuliah_statistika)

1.Rata-Rata nilai Shafira = 80.0
2.Jumlah nilai hanif dan andi = 310
3.Rata-Rata nilai kalkulus widya, Dhanar, Hikma dan Nedia = 86.25
  Rata-Rata nilai statistika widya, Dhanar, Hikma dan Nedia = 82.5
4.Rata-Rata nilai mata kuliah kalkulus = 81.11111111111111
5.Rata-Rata nilai mata kuliah statistika = 81.66666666666667

In [ ]:
from abc import update_abstractmethods
perhari = 8 #jam
perjam = 30000
bulan_agustus = 31 #hari
hari_tidak_masuk = 3
tunjangan = 10/100
gaji_tiap_bulan = 2400000
upah_lembur_bulan_agustus = 1550000

x =(bulan_agustus-3)*perhari
x
print('1.Gaji pada bulan agustus =',x*perjam)
print('2.Tunjangan yang diterima pada bulan agustus =',gaji_tiap_bulan*tunjangan)
print('3. Total gaji + lebur Dwi =',gaji_tiap_bulan+upah_lembur_bulan_agustus)

1.Gaji pada bulan agustus = 6720000
2.Tunjangan yang diterima pada bulan agustus = 240000.0
3. Total gaji + lebur Dwi = 3950000