In [ ]:
num = 10

if num > 0:
  print("The Number is Positive")
else:
  if num < 0:
    print("The number is negative")
  else:
    print("The number is zero")

The Number is Positive

## **Weekly Exercise1**

In [ ]:
Tahun = int(input("Masukan Tahun"))

if Tahun % 4 == 0:
  print(Tahun,"maka Termasuk Tahun Kabisat")
else:
  print(Tahun, "Maka bukan termasuk Tahun Kabisat")

Masukan Tahun2004
2004 maka Termasuk Tahun Kabisat

# **Weekly Exercise2**

In [ ]:
Angka_Pertama = int(input("Masukan Angka pertama = "))
Angka_Kedua = int(input("Masukan Angka Kedua = "))
Angka_Ketiga = int(input("Masukan Angka Ketiga = "))

if Angka_Pertama >= Angka_Kedua and Angka_Pertama >= Angka_Ketiga:
  print("Angka Pertama Terbesar")
elif Angka_Kedua >= Angka_Pertama and Angka_Kedua >= Angka_Ketiga:
  print("Angka Kedua Terbesar")
else:
  print("Angka Ketiga Terbesar")

Masukan Angka pertama = 12
Masukan Angka Kedua = 25
Masukan Angka Ketiga = 36
Angka Ketiga Terbesar

# **Weekly Exercise3**

In [ ]:
  Konsumen =input("Konsumen: ")
  Total_Belanja = float(input("Total Belanja = "))

  if Total_Belanja >=100000:
    if Total_Belanja >=200000:
      diskon = 0.04
    else:
      diskon = 0.03

  if Konsumen == "member":
    diskon += 0.02

  Total_seluruh = Total_Belanja *(1-diskon)
  print("Total yang harus dibayarkan = ", Total_seluruh)

Konsumen: member
Total Belanja = 100000
Total yang harus dibayarkan =  95000.0

# **Weekly Exercise4**

In [ ]:
Username = input("Masukan Username Anda : ")
email = input("Masukan email Anda : ")
password = input("Masukan password Anda : ")

if Username == "":
    print("username tidak boleh kosong")
elif "@" not in email:
  print("Email anda kurang @")
elif len(password) <8:
  print("panjang password harus lebih dari 8 karekter")

Masukan Username Anda : wee
Masukan email Anda : wee@gmail.com
Masukan password Anda : 12345678