

# **Loops in Python**

In [ ]:
first = [2, 4, 6]
second = [2, 4, 6]
for i in first:
    for j in second:
        if i == j:
            continue
        print(i, '*', j, '= ', i * j)

2 * 4 =  8
2 * 6 =  12
4 * 2 =  8
4 * 6 =  24
6 * 2 =  12
6 * 4 =  24

In [ ]:
i = 1
while i <= 5:
    j = 1
    while j <= 10:
        print(j, end='')
        j = j + 1
    i = i + 1
    print()

12345678910
12345678910
12345678910
12345678910
12345678910

# **Weekly 1**

In [ ]:
n = int(input("Nomer yang anda masukan: "))

for i in range(n):
    jarak = " " * (n - i - 1)
    bintang = "* " * ( i + 1)
    print(jarak + bintang)

Nomer yang anda masukan: 6
     *
    * *
   * * *
  * * * *
 * * * * *
* * * * * *

In [ ]:
n = int(input("Nomer yang anda masukan: "))

for i in range(n):
    jarak = " " * (n - i - 1)
    bintang = "* " * ( i + 1)
    print(jarak + bintang)

Nomer yang anda masukan: 2
 *
* *

In [ ]:
n = int(input("Nomer yang anda masukan: "))

for i in range(n):
    jarak = " " * (n - i - 1)
    bintang = "* " * ( i + 1)
    print(jarak + bintang)

Nomer yang anda masukan: 3
  *
 * *
* * *

# **Weekly 2**

In [ ]:
from math import factorial

n = int(input("angka yang anda masukan: "))
for i in range(n):
    for j in range(n-i+1):

      print(end=" ")

    for j in range(i+1):

      print(factorial(i) // (factorial(j) * factorial(i-j)),end=" ")

    print()

angka yang anda masukan: 4
     1
    1 1
   1 2 1
  1 3 3 1

In [ ]:
from math import factorial

n = int(input("angka yang anda masukan: "))
for i in range(n):
    for j in range(n-i+1):

      print(end=" ")

    for j in range(i+1):

      print(factorial(i) // (factorial(j) * factorial(i-j)),end=" ")

    print()

angka yang anda masukan: 2
   1
  1 1

In [ ]:
from math import factorial

n = int(input("angka yang anda masukan: "))
for i in range(n):
    for j in range(n-i+1):

      print(end=" ")

    for j in range(i+1):

      print(factorial(i) // (factorial(j) * factorial(i-j)),end=" ")

    print()

angka yang anda masukan: 3
    1
   1 1
  1 2 1

# **Weekly 3**

In [3]:
nilai = int(input("Masukkan Baris yang Diinginkan: "))

baris = [1]
jumlah_baris = 1

for i in range(1, nilai):
    baris_baru = [1]
    for j in range(1, len(baris)):
        nilai_baru = baris[j - 1] + baris[j]
        baris_baru.append(nilai_baru)
        jumlah_baris += nilai_baru
    baris_baru.append(1)
    baris = baris_baru

print("Angka di Satu Baris Segitiga Pascal:")
for angka in baris:
      print(angka, end=" ")

Masukkan Baris yang Diinginkan: 2
Angka di Satu Baris Segitiga Pascal:
1 1

In [ ]:
nilai = int(input("Masukkan Baris yang Diinginkan: "))

baris = [1]
jumlah_baris = 1

for i in range(1, nilai):
    baris_baru = [1]
    for j in range(1, len(baris)):
        nilai_baru = baris[j - 1] + baris[j]
        baris_baru.append(nilai_baru)
        jumlah_baris += nilai_baru
    baris_baru.append(1)
    baris = baris_baru

print("Angka di Satu Baris Segitiga Pascal:")
for angka in baris:
      print(angka, end=" ")

Masukkan Baris yang Diinginkan: 3
Angka di Satu Baris Segitiga Pascal:
1 2 1