# **Kondisi Terhadap Python**

**Kondisi statment**

**Perbandingan Operator** : membandingkan sebuha nilai atau operan berdasarkan sebuah kondisi.

- equel: ==
- not equel: !==
- grather than: >
- last than: <
- grather than or equal to: >=
- last than or equal to: <=

kita akan memberi nilai a = 5, mengunakan equality operator dengan membreikan dua equal (==) tanda untuk menentukan nilai sama

In [ ]:
# Condition Equal

a = 5
a == 6

False

jika hasilanya false, maka 5 tidak sama dengan 6

In [ ]:
i = 6
i > 5

True

In [ ]:
# Greater than Sign

i = 2
i > 5

False

In [ ]:
# Inequality Sign

i = 2
i != 6

True

In [ ]:
# Inequality Sign

i = 7
i != 7

False

In [ ]:
# Use Equality sign to compare the strings

"ACDC" == "Michael Jackson"

False

In [ ]:
# Use Inequality sign to compare the strings

"ACDC" != "Michael Jackson"

True

In [ ]:
# Compare characters

'B' > 'A'

True

In [ ]:
# Compare characters

'BA' > 'AB'

True

In [ ]:
"ba" >= 'ba'

True

# **Branch**

In [ ]:
# If statement example

#age = 19
age = 18

#expression that can be true or false
if age > 18:

    #within an indent, we have the expression that is run if the condition is true
    print("you can enter" )

#The statements after the if statement will run regardless if the condition is true or false
print("move on")

move on

In [ ]:
# Else statement example

#age = 17
age = 19

if age > 18:
    print("you can enter" )
else:
    print("go see Meat Loaf" )
    #print("move on")

print("move on")

you can enter
move on

In [ ]:
# Elif statment example

age = 18

if age > 18:
    print("you can enter" )
elif age == 18:
    print("go see Pink Floyd")
else:
    print("go see Meat Loaf" )

print("move on")

go see Pink Floyd
move on

In [ ]:
# Condition statement example

album_year = 1983
#album_year = 1970

if album_year > 1980:
    print("Album year is greater than 1980")

print('do something..')

Album year is greater than 1980
do something..

In [ ]:
# Condition statement example

#album_year = 1983
album_year = 1970

if album_year > 1980:
    print("Album year is greater than 1980")
else:
    print("less than 1980")

print('do something..')

less than 1980
do something..

# **Logika Operator**

In [ ]:
# Condition statement example

album_year = 1980

if(album_year > 1979) and (album_year < 1990):
    print ("Album year was in between 1980 and 1989")

print("")
print("Do Stuff..")

Album year was in between 1980 and 1989

Do Stuff..

In [ ]:
# Condition statement example

album_year = 1978

if(album_year < 1980) or (album_year > 1989):
    print ("Album was not made in the 1980's")
else:
    print("The Album was made in the 1980's ")

Album was not made in the 1980's

In [ ]:
# Condition statement example

album_year = 1984

if not (album_year == '1984'):
    print ("Album year is not 1984")

Album year is not 1984

Tugas 1

In [ ]:
age = int(input("Masukkan Umur : "))

if age >= 17:
    print("Boleh Membuat SIM")
else:
    print("Tidak Boleh Membuat SIM")

Masukkan Umur : 17
Boleh Membuat SIM

Tugas 2

In [ ]:
nilai = int(input("Masukkan Nilai "))

if nilai >= 90:
  print("Grade A")
elif nilai >= 80:
  print("Grade B+")
elif nilai >= 70:
  print("Grade B")
elif nilai >= 60:
  print("Grade C+")
elif nilai >= 50:
  print("Grade C")
elif nilai >= 40:
  print("Grade D")
else:
  print("Grade E")

Masukkan Nilai 40
Grade D

Tugas 3

In [ ]:
nilai = float(input("Masukkan Nilai "))

if nilai <= 100 and nilai >= 80:
  print("Grade A")
elif nilai <= 79.99 and nilai >= 77.50:
  print("Grade A-")
elif nilai <= 77.49 and nilai >= 75:
  print("Grade AB")
elif nilai <= 74.99 and nilai >= 72.50:
  print("Grade B+")
elif nilai <= 72.49 and nilai >= 70:
  print("Grade B")
elif nilai <= 69.99 and nilai >= 67.50:
  print("Grade B-")
elif nilai <= 67.49 and nilai >= 65:
  print("Grade BC")
elif nilai <= 64.99 and nilai >= 62.50:
  print("Grade C+")
elif nilai <= 62.49 and nilai >= 60:
  print("Grade C")
elif nilai <= 59.99 and nilai >= 55:
  print("Grade C-")
elif nilai <= 54.99 and nilai >= 50:
  print("Grade CD")
elif nilai <= 49.99 and nilai >= 45:
  print("Grade D+")
elif nilai <= 44.99 and nilai >= 40:
  print("Grade D")
else:
  print("Grade E")

Masukkan Nilai 70
Grade B