# **Basic Output in Python**

Di Python, kita dapat mengunakan perintah *Print()*, contoh:

In [ ]:
print('Hello, saya menggunakan Python')

Hello, saya menggunakan Python

disini *print()* berfungsi untuk memunculkan string dengan dijepit dengan dua tanda kurung

Objek  value untuk memunculkan yang di print

- sep (optional)
- end (optional)
- file (optional)
- flush (optional)

In [ ]:
#contoh

print('Selamat pagi dunia')
print('Hari ini cuacanya cerah.')

#contoh dengan diakhiri  end

print('Selamat pagi dunia', end = ' ')
print('Hari ini cuacanya cerah.')

Selamat pagi dunia
Hari ini cuacanya cerah.
Selamat pagi dunia Hari ini cuacanya cerah.

dengan contoh di atas end berfungsi sebagai penyambung terhadap kata pertama dan kata kedua

# **Print Menghubungkan String**

Kita juga dapat menghubungkan 2 kode String.

In [ ]:
print('Teknologi Informasi' + 'Universitas Tidar')

Teknologi InformasiUniversitas Tidar

tanda + mengoprasikan 2 string, jika berhasil maka kedua kode tersebut maka nyambung

# **Format Output**

Terkadang kita ingin memformat Output kita agae lebih menarik, contoh

In [ ]:
x = 1
y = 2

print('Value dari x adalah {} dan y adalah {}'.format(x,y))

Value dari x adalah 1 dan y adalah 2

# **Basic Input Pada Python**

Saat kita melakukan pemrograman, mungkin kita ingin mengambil input dari penguna. contoh.

**Syntax pada Input**

*Input(prompt)*

disini ,prompt adalah string kita, dan berfungsi opsional.

**Python User Input**

In [ ]:
# penguna menggunakan input() untuk mengambil user input
num = input('Enter a Number')

print('You entered:', num)

print('Data type on num', type(num))

Enter a Number12
You entered: 12
Data type on num <class 'str'>

contoh di atas, kita harus menggunakan *input()* yang berfungsi untuk mengambil dari user dan menyetorkan user input pada *num* variable

untuk menconvert user input menuju nomer kita dapet mengunakan *Int()* atau *float()*

# **Reading Files Python**

**Download Data**

In [ ]:
!pip install wget

Collecting wget
  Downloading wget-3.2.zip (10 kB)
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: wget
  Building wheel for wget (setup.py) ... done
  Created wheel for wget: filename=wget-3.2-py3-none-any.whl size=9656 sha256=29f69e332cc9bd4def0d0980fa3aed62b6b88cae3551ae4d2ad3a6fa49061d6f
  Stored in directory: /root/.cache/pip/wheels/8b/f1/7f/5c94f0a7a505ca1c81cd1d9208ae2064675d97582078e6c769
Successfully built wget
Installing collected packages: wget
Successfully installed wget-3.2

In [ ]:
#download file (terserah anda)
!mkdir -p /resources/data
!wget -O /resources/data/Example1.txt https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/labs/example1.txt

--2024-09-09 04:55:28--  https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/labs/example1.txt
Resolving s3-api.us-geo.objectstorage.softlayer.net (s3-api.us-geo.objectstorage.softlayer.net)... 67.228.254.196
Connecting to s3-api.us-geo.objectstorage.softlayer.net (s3-api.us-geo.objectstorage.softlayer.net)|67.228.254.196|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 45 [text/plain]
Saving to: ‘/resources/data/Example1.txt’

/resources/data/Exa 100%[===================>]      45  --.-KB/s    in 0s

2024-09-09 04:55:28 (21.7 MB/s) - ‘/resources/data/Example1.txt’ saved [45/45]

Reading Text File

Salah satu cara membaca atau menulis pada python adalah dengan mengunakan *open()* fungsion. fungsi menyediakan File objek yang berisi metode dan atribut untuk membaca dan menulis.

ada 2 mode argumen yang digunakan

- r untuk membaca files
- w untuk menulis files

In [ ]:
example1 = "/resources/data/Example1.txt"
file1 = open(example1, "r")

In [ ]:
#cara melihat atribut
file1.name

'/resources/data/Example1.txt'

In [ ]:
#cara meihat mode file
file1.mode

'r'

In [ ]:
FileContent = file1.read()
FileContent

'This is line 1 \nThis is line 2\nThis is line 3'

In [ ]:
# Print the file with '\n' as a new line

print(FileContent)

This is line 1
This is line 2
This is line 3

In [ ]:
file1.close()

# **A Better Way to Open a File**

meggunakan printah *with()* merupakan cara yeng lebih baik untuk membuka file

In [ ]:
with open(example1, "r") as file1:
    FileContent = file1.read()
    print(FileContent)

This is line 1
This is line 2
This is line 3

file objek tertutup, kamu dapat menverifikasi dengan menjalankan ikuti printah

In [ ]:
file1.closed

True

In [ ]:
# cara melihat content pada file
print(FileContent)

This is line 1
This is line 2
This is line 3

Kita tidak bisa membaca seluruh file, contoh, kita dapat membaca 4 karakter oleh seluruh parameter pada method *.read()*

In [ ]:
with open(example1, "r") as file1:
    print(file1.read(4))

This

In [ ]:
with open(example1, "r") as file1:
    print(file1.read(4))
    print(file1.read(4))
    print(file1.read(7))
    print(file1.read(15))

This
 is
line 1

This is line 2

kita juga bisa memanggil langsung satu baris.

In [ ]:
with open(example1, "r") as file1:
    print("first line: " + file1.readline())

first line: This is line 1

kita juga dapat menggunakan loop untuk mengulang setiap baris

In [ ]:
with open(example1,"r") as file1:
        i = 0;
        for line in file1:
            print("Iteration", str(i), ": ", line)
            i = i + 1;

Iteration 0 :  This is line 1

Iteration 1 :  This is line 2

Iteration 2 :  This is line 3

# **Writing Files**

kita dapat membuka file objek menggunakam method *write()* untuk menyimpan sebuah text file untuk list, untuk menulis mode, gunakan argument w

In [ ]:
!mkdir -p /resources/data

In [ ]:
with open('/resources/data/Example2.txt', 'w') as writefile:
    writefile.write("This is line A")

kita dapat melihat file tersebut

In [ ]:
with open('/resources/data/Example2.txt', 'r') as testwritefile:
    print(testwritefile.read())

This is line A

kita juga dapat membuat lebih dari satu baris.

In [ ]:
with open('/resources/data/Example2.txt', 'w') as writefile:
    writefile.write("This is line A\n")
    writefile.write("This is line B\n")

In [ ]:
# cek
with open('/resources/data/Example2.txt', 'r') as testwritefile:
    print(testwritefile.read())

This is line A
This is line B

kita juga bisa membuat baris baru dengan mengunakan argumnet a

In [ ]:
with open('/resources/data/Example2.txt', 'a') as testwritefile:
    testwritefile.write("This is line C\n")

kita menulis list untuk a

In [ ]:
Lines = ["This is line A\n", "This is line B\n", "This is line C\n"]
Lines

['This is line A\n', 'This is line B\n', 'This is line C\n']

In [ ]:
with open('Example2.txt', 'w') as writefile:
    for line in Lines:
        print(line)
        writefile.write(line)

This is line A

This is line B

This is line C

In [ ]:
with open('Example2.txt', 'r') as testwritefile:
    print(testwritefile.read())

This is line A
This is line B
This is line C

In [ ]:
with open('Example2.txt', 'r') as testwritefile:
    print(testwritefile.read())

This is line A
This is line B
This is line C

# **Copy File**

In [ ]:
# Copy file example2 ke example 3

with open('Example2.txt','r') as readfile:
    with open('Example3.txt','w') as writefile:
          for line in readfile:
                writefile.write(line)

cara melihat file yang kita copy sebagai berikut

In [ ]:
with open('Example3.txt','r') as testwritefile:
    print(testwritefile.read())

This is line A
This is line B
This is line C

# **Weekly 01**

In [ ]:
with open('Biodata.txt', 'w') as writefile:
    writefile.write("Nama   : Ahmada Nur Maulana\n")
    writefile.write("Prodi  : S1 Teknologi Informasi\n")
    writefile.write("Npm    : 2440506069\n")
    writefile.write("Alamat : Magelang \n")
    writefile.write("hobi   : banyak\n")
    writefile.write("email  : ahmadamaulana66@gmail.com\n")

In [ ]:
with open("Biodata.txt","r") as me:
  c = me.readlines()
  print(c[0])
  print(c[1])
  print(c[5])

Nama   : Ahmada Nur Maulana

Prodi  : S1 Teknologi Informasi

email  : ahmadamaulana66@gmail.com

In [ ]:
with open("Biodata2.txt","w") as me:
   me.write(c[0])
   me.write(c[2])
   me.write(c[1])
   me.write(c[3])

In [ ]:
with open("Biodata2.txt","r") as me:
  c = me.readlines()
  print(c[0])
  print(c[2])
  print(c[1])
  print(c[3])

Nama   : Ahmada Nur Maulana

Prodi  : S1 Teknologi Informasi

Npm    : 2440506069

Alamat : Magelang

# **Weekly 02**

In [ ]:
from os import write
print('Selamat datang di Toko maju java')
print('Senin, 4 September 2023   13.05')
print()

print('DAFTAR  BELANJA')
item1 = "sabun"
item2 = "sampo"
item3 = "Mie instant"
item4 = "Detergen"
harga1 = 10000
harga2 = 15000
harga3 = 5000
harga4 = 17500

total = harga1 + harga2 + harga3 + harga4

print(item1, "= Rp" + str(harga1))
print(item2, "= Rp" + str(harga2))
print(item3, "= Rp" + str(harga3))
print(item4, "= Rp" + str(harga4))

print(" ")
print('total =', str(total))
print(" ")

with open('kuitansi.txt', 'w') as writefile:
    writefile.write("Selamat Datang di Toko Maju Jaya\n")
    writefile.write(" \n")
    writefile.write("Kuitansi - 4 Septermber 2023\n")
    writefile.write(" \n")
    writefile.write(item1 + "=Rp" + str(harga1) + "\n")
    writefile.write(item2 + "=Rp" + str(harga2) + "\n")
    writefile.write(item3 + "=Rp" + str(harga3) + "\n")
    writefile.write(item4 + "=Rp" + str(harga4) + "\n")
    writefile.write(" \n")
    writefile.write("total Belanja =" + str(total))

Selamat datang di Toko maju java
Senin, 4 September 2023   13.05

DAFTAR  BELANJA
sabun = Rp10000
sampo = Rp15000
Mie instant = Rp5000
Detergen = Rp17500

total = 47500